build/
.clangd
.cache/
*.out
src/NextWeek/external/*
!src/NextWeek/external/stb
src/NextWeek/external/stb/*
!src/NextWeek/external/stb/stb_image.h
src/Rest/external/*
!src/Rest/external/stb
src/Rest/external/stb/*
!src/Rest/external/stb/stb_image.h
callgrind*
analysis*
*.data
*.bak
*.old
